<ul class="collection">
  <li class="collection-item avatar" *ngFor="let aluno of alunos">
    <img src="images/yuna.jpg" alt="" class="circle">
    <span class="title"> {{aluno.nome}}</span>
    <p> {{aluno.email}}</p>
    <a [routerLink]="[ '/path', routeParam ]" class="secondary-content tooltipped" data-tooltip="Editar">
      <i class="material-icons">grade</i>
    </a>
  </li>
</ul>

<br>
<hr>
<h5>Detalhes</h5>
<hr>

<!-- Exibir coponents para rotas filhas - mastre-detail-->
<router-outlet></router-outlet>